/* .nav-item{
    background-color: aqua;
    display: flex;
    margin-left: 2%;
} */

.nav-link{
    font-size: large;
    color: yellow;
}

.nav-tabs{
    background-color: brown;
}
.nav-tabs-header{
    margin-right: auto;
    margin-right: 50%;
}
a.nav-link{
    color:green;
    font-size: larger;
}